{% extends "base.html" %}
<!--home title-->
{% block title %}
Blogs
{% endblock %}
{% block styles %}
<!--styles-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&display=swap" rel="stylesheet">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!--bootstrap-->
{% endblock %}

{% block navbar %}
<!--navbar-->
    {% include 'navbar.html' %}
{% endblock %}
<br>
<br>
<!--header-->
<h1 class="text-center" style="font-family: 'Gloria Hallelujah', cursive ; color:blue">Welcome to Blogs....</h1>


{% block content %}
<!--content-->
<div class="card text-center">
<div class="border-secondary mb-3" style="max-width: 100%;">
    <div class="card-header">Create a Quote</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Feel free to comment on Quotes and write a Quote</h5>
      <p class="card-text">“Happiness lies in virtuous activity, and perfect happiness lies in the best activity, which is contemplative”</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="card-header">
        <div style="justify-content: space-between; font-family: 'Indie Flower', cursive;" class="d-flex">
            <a href="">Comment<i class="fas fa-comment" style="margin-left: 8px;"></i></a> 
            <a href="">Like <i class="fas fa-thumbs-up " style="margin-left: 8px;"></i></a> 
            <a href="">Dislike<i class="fas fa-thumbs-down" style="margin-left: 8px;"></i></a> 
        </div>
        
    
    </div>
</div>
</div>
{% endblock %}