{% extends "bootstrap/base.html" %}

{% block navbar %}
<!--navbar-->
    {% include 'navbar.html' %}
{% endblock %}

<br>

{% block content %}



<div class="container">
    <div style="text-align: center; background-color: gainsboro;border-radius: 8px; padding: 5px;" class="random">
        <h1 style="color: blue;text-decoration: underline;">View Random Quotes</h1>
        <ul>
            <li style="list-style-type: none;justify-content: left;"><span style="color: blue;font-weight: bold;">AUTHOR:</span> {{ quotes.author}}</li>
            <li style="list-style-type: none;justify-content: left;"> <span style="color: blue;font-weight: bold;">QUOTE:</span>{{ quotes.quote}}</li>
        </ul>
    </div>
    
   
    <hr>


<h1 class="text-center" style="font-family: 'Gloria Hallelujah', cursive ; color:blue">Welcome to Blogs....</h1>
<!--content-->
<div class="card text-center">
<div class="border-secondary mb-3" style="max-width: 100%;">
    <div class="card-header">Create a Blog</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Feel free to comment on Blogs and write a Blog</h5>
      <p class="card-text">“Happiness lies in virtuous activity, and perfect happiness lies in the best activity, which is contemplative”</p>
      <a href="/quotes"><button type="button" class="btn btn-primary"> Post A Blog</button></a>
    </div>
</div>
</div>
</div>


{% endblock %}