{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Welcome to Blogs</h1>
    <h2><a class="btn peach-gradient btn-lg text-center" href="{{url_for('main.new_quotes')}}"> Write a new pitch</a></h2>
</div>

{% for items in quotes[::-1] %}

<div class="container">
  <div class="post" style="background-color: lightgray;float: left; width: 45%; margin: 5px;;padding: 20px; border-radius: 5px;">
    <div class="posted-by">
      <h3><span style="color: blue;">Posted By: </span> {{items.author.username}}</h3>
    </div>
    <div class="posted-by">
      <h3><span style="color: blue;">Blog: </span>{{items.quote}}</h3>
    </div>
    <div class="posted-by">
      <h3><span style="color: blue;">Posted: </span>{{items.posted.strftime('%Y-%m-%d')}}</h3>
    </div>
    {% if current_user.is_authenticated %}
    <button class="btn btn-danger">Delete</button>
    {%endif%}
    <div class="posted-by">
      <div class="text-inline" style="display: flex;">

      <h3><span style="color: blue;">Comments: </span>{{items.comment}}</h3>
    </div>
    {% if current_user.is_authenticated %}
    <button class="btn btn-danger">Delete</button>
    {%endif%}
  </div>
  </div>

  
{% endfor %}
{% endblock %}
